{% for contenido in content %}

	{% if contenido.type == 'videos' and contenido.estado == true %}
<<<<<<< HEAD
		{% include "@DestinyApp/Frontend/jvieites/includes/video.html.twig"
			with {'video': (contenido.videos is defined)
							? contenido.videos : contenido }%}
        <div class="clearfix"></div>
        <div class="separador"></div>
=======
		{% include "@DestinyApp/Frontend/includes/video.html.twig"
			with {'video': (contenido.videos is defined)
							? contenido.videos : contenido }%}
>>>>>>> origin/master
	{% endif %}

	{% if contenido.type == 'articulos' and contenido.estado == true %}

<<<<<<< HEAD
		{% include "@DestinyApp/Frontend/jvieites/includes/articulo.html.twig"
				with {'articulo': (contenido.articulos is defined)
							      ? contenido.articulos : contenido }%}
        <div class="clearfix"></div>
        <div class="separador"></div>
=======
		{% include "@DestinyApp/Frontend/includes/articulo.html.twig"
				with {'articulo': (contenido.articulos is defined)
							      ? contenido.articulos : contenido }%}
>>>>>>> origin/master
	{% endif %}



<<<<<<< HEAD
	{% if contenido.type == 'sliders' and contenido.estado == true %}


		{% include "@DestinyApp/Frontend/jvieites/includes/slider.html.twig" with {'slider': (contenido.sliders is defined)
		? contenido.sliders : contenido }%}
        <div class="clearfix"></div>
        <div class="separador"></div>
=======
	{% if contenido.type == 'slider' and contenido.estado == true %}


		{% include "@DestinyApp/Frontend/includes/slider.html.twig" with {'slider': (contenido.sliders is defined)
		? contenido.sliders : contenido }%}
>>>>>>> origin/master

	{% endif %}

	{% if contenido.type == 'imagenes' and contenido.estado == true %}

<<<<<<< HEAD
		{% include "@DestinyApp/Frontend/jvieites/includes/imagen.html.twig" with {'imagen': (contenido.imagenes is defined)
							      ? contenido.imagenes : contenido }%}
        <div class="clearfix"></div>
        <div class="separador"></div>
=======
		{% include "@DestinyApp/Frontend/includes/imagen.html.twig" with {'imagen': (contenido.imagenes is defined)
							      ? contenido.imagenes : contenido }%}
>>>>>>> origin/master

	{% endif %}

	{% if contenido.type == 'adjuntos' and contenido.estado == true %}
<<<<<<< HEAD
		{% include "@DestinyApp/Frontend/jvieites/includes/adjunto.html.twig" with {'adjunto': (contenido.adjuntos is defined)
		? contenido.adjuntos : contenido  }%}
        <div class="clearfix"></div>
        <div class="separador"></div>
=======
		{% include "@DestinyApp/Frontend/includes/adjunto.html.twig" with {'adjunto': (contenido.adjuntos is defined)
		? contenido.adjuntos : contenido  }%}
>>>>>>> origin/master
	{% endif %}

{% endfor %}

