<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> origin/master
<h2>{{ video.nombre }} </h2>
<div class="articulo">
    <div class="contenido-articulo">
        <div class=" col-md-12 col-xs-12">
            {{ video.descripcion | raw }}

        </div>
    </div>
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/{{( video.url is null) ? video.canonica.url :video.url }}"
                frameborder="0" allowfullscreen></iframe>

</div>

<<<<<<< HEAD
=======
=======

<iframe width="560" height="315"
        src="https://www.youtube.com/embed/{{( video.url is null) ? video.canonica.url :video.url }}"
        frameborder="0" allowfullscreen></iframe>
<br>
>>>>>>> origin/master
>>>>>>> origin/master



